@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-color: rgb(0, 130, 31);
    --secondary-color: rgb(222, 247, 229);
    --text-color: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color) url(./assets/quizBg.png) center;
    flex-direction: column;
}

.container {
    width: clamp(296px, 65%, 1300px);
    background-color: #fff;
    padding: 3.5rem;
    position: relative;
}

.progress-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.75rem;
    background: #CCCCCC;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #00890A;
}

.quiz-progress-wrapper {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 1.25rem;
}

.answers-summary {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 2.5rem;
    width: 5rem;
    height: 5rem;
    background-color: white;
    text-align: center;
    border-radius: 50%;
}

.answers-summary span {
    font-size: 1.375rem;
    font-weight: 600;
}

.answers-summary p {
    font-size: 0.75rem;
    margin-top: -0.25rem;
}

.correct-answers-summary {
    border: 0.3rem solid #00890A;
    color: #00890A;
    top: 1.25rem;
}

.wrong-answers-summary {
    border: 0.3rem solid #F80000;
    color: #F80000;
    top: 7rem;
}

.quiz {
    width: 60%;
    height: 100%;
}

.quiz-question {
    font-size: 30px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    padding: 14px 0;
}

.answer-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.answer-option input[type="radio"] {
    display: none;
}

.answer-option label,
.answer-option .answer-text {
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    font-size: 18px;
    height: 60px;
    cursor: pointer;
    transition: .3s;
}

.answer-option label {
    margin-right: 10px;
    font-weight: bold;
    width: 50px;
}

.answer-option .answer-text {
    padding: 0 20px;
    width: 350px;
    justify-content: flex-start;
}

.selected label,
.selected .answer-text {
    background-color: #D8FAE4;
    color: black;
}

.correct label,
.correct .answer-text {
    background-color: #00890A;
    color: rgb(255, 255, 255);
}

.wrong label,
.wrong .answer-text {
    background-color: #d90000;
    color: rgb(255, 255, 255);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    font-size: 14px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
}

.btn-primary {
    background-color: #00890A;
    color: white;
}

.btn-primary:hover {
    background-color: #006207;
}

.btn-secondary {
    background-color: white;
    border: 2px solid #00890A;
    color: #00890A;
}

.btn-secondary:hover {
    background-color: white;
}

.btn-wrapper {
    display: flex;
}

.btn-save-answer {
    margin-right: 10px;
}

.btn:active {
    transform: scale(0.95);
}

.btn:disabled:active {
    transform: none;
}

.result-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn:disabled {
    opacity: 0.4;
    cursor: default;
}

.btn-primary:disabled {
    background-color: #a6c2ab;
}

.btn-secondary:disabled {
    border-color: #a6c2ab;
    color: #a6c2ab;
}

.person-image {
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 40px;
}

.result-popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/resultBg.jpg');
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: none !important;
}

.result-popup-active {
    display: flex !important;
}

.result-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: clamp(296px, 65%, 1300px);
    height: clamp(430px, 82.5vh, 830px);
    background-color: transparent;
    padding: 3.5rem;
    border: 2px solid #006207;
    border-radius: 8px;
}

.result-info h2 {
    font-size: 34px;
}

.result-info p {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
}

.result-info h1 {
    font-size: 120px;
    margin-top: -10px;
}

.result-info h3 {
    margin-bottom: 20px;
}


.low h1,
.low h2 {
    color: #F80000;
}

.medium h1,
.medium h2 {
    color: #FF713A;
}

.high h1,
.high h2 {
    color: #00CE12;
}

.result-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.result-image img {
    width: 38px;
    margin-right: 14px;
    display: none;
}

.high .result-icon-high,
.medium .result-icon-medium,
.low .result-icon-low {
    display: block !important;
}


@media screen and (min-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    .container {
        height: clamp(430px, 82.5vh, 830px);
    }
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 30px 0;
    }

    .quiz {
        width: 90%;
    }

    .container {
        padding: 25px 14px;
    }

    .quiz-question {
        font-size: 24px;
    }

    .answers-summary {
        right: 1.5rem;
    }

    .answer-option .answer-text {
        padding: 0 20px;
        width: 100%;
        justify-content: flex-start;
    }

    .answer-option .answer-text {
        font-size: 17px;
    }

    .person-image {
        display: none;
    }

    .result-info {
        width: 90%;
        padding: 2rem;
    }

    .result-image {
        flex-direction: column-reverse;
    }

    .correct-answers-summary {
        top: 10px;
        left: 10px;
    }

    .wrong-answers-summary {
        top: 10px;
        right: 10px;
    }

    .answers-summary {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        background-color: white;
        text-align: center;
        border-width: 3px;
    }

    .answers-summary p {
        display: none;
    }

}

@media screen and (max-width: 400px) {
    .result-info {
        padding: 1.5rem;
        width: clamp(296px, 65%, 1300px);
        height: clamp(399px, 67.5vh, 830px);

    }
}

@media (max-width: 1313px) {
    .container {
        width: clamp(296px, 76%, 1300px);
    }
}

@media (max-width: 1120px) {
    .person-image {
        display: none;
    }

    .quiz {
        width: 100%;
        height: 100%;
    }

    .correct-answers-summary {
        top: 10px;
        left: 10px;
    }

    .wrong-answers-summary {
        top: 10px;
        right: 10px;
    }
}